@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body{
    background-color: rgb(194, 241, 201);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(60, 158, 74);;
}

h1#principal{
    text-align: center;
    background-color: green;
    color: white;
}

h2{
    color: rgb(49, 143, 115);;
}

.basico{
    color: rgb(51, 128, 0);
}

.intermediario{
    color: rgb(227, 245, 67);
}

.avancado{
    color: rgb(253, 58, 24);
}